@import "https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css";

body {
	background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(IMG_9250-2_35.jpg);
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: right;
	background-color: blue;

	font-family: garamond;
}

.logo {
	max-width: 20%;
	max-height: 20%;
	text-align: left;
	
	position: fixed;
}


#the-form {
	width: 280px;
	height: 400px;
	position: absolute;
	top: 23%; 
	left: 8%;
	color: white; 
	background-color: rgba(0, 0, 0, .5); 
	padding: 15px 27px 1px 27px;
	border-radius: 15px;
}

#the-form h1 {
	color: white;
	
	text-align: center;
	font-size: 30px;
/*	border-bottom: 1px solid; */
	margin-bottom: 30px;

}

.the-inputarea {
	width: 100%;
	overflow: hidden;
	font-size: 20px;
	margin: 8px 0;
	padding: 8px 0;
	border-bottom: 1px solid;
}

.the-inputarea input {
	border: none;
	background: none;
	outline: none;
	color: white;
	width: 80%;
	margin: 0 0 0 7px;
}

.btn {
	margin: 20px 0 75px 0;
	padding: 7px 0 7px 0;
	font-size: 15px;
	width: 70%;
	margin-left: 15%;
	text-align: center;
	background-color: rgba(30, 144, 255, .7);
	border: none;
	outline: none;
	color: 	white;
	border-radius: 7px;

}

a {
	color: yellow;
}

::placeholder {
	color: #A9A9A9;

}

#the-form h5 {
	text-align: center;
	text-decoration: none;
}